## B2.4.1 Что такое сводные таблицы?

In [1]:
import pandas as pd

In [73]:
df = pd.read_csv("data_sf.csv")
df.head(10)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,...,75,82,87,92,91,11,8,9,7,11
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89

In [10]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid'
                                ,'Juventus','Manchester United'])].pivot_table(values=['Wage'], # 2.0 В параметр values мы передаем 
                                                                                                           # ту колонку, по которой нам нужно строить сводные данные, 
                                                                                                           # применяя агрегирующую функцию сумма.
# 1.0 df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])] 
# 1.0 Она позволяет отфильтровать датафрейм по колонке Club, где значение в колонке соответствует одному 
# из перечисленных в массиве клубов.
                                                                                                                                                                                                                                                                                                           
index=['Nationality'], # В параметр index передадим ту колонку, данные которой будут представлены строками сводной таблицы.
columns=['Club'], # В параметр columns передаем колонку, значения которой будут в столбцах.
aggfunc='sum', # параметр aggfunc передаем агрегирующую функцию. 
margins=True) # Для того, чтобы добавить столбец и строку с итоговыми значениями, нужно добавить параметр margins=True:
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [15]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [17]:
df2.loc['Manchester City']['GK'] # максимальной зарплате вратаря (GK) в "Manchester City"?

125000.0

In [18]:
pivot.loc['Belgium']

      Club
Wage  FC Barcelona         110000.0
      Juventus                  NaN
      Manchester United    230000.0
      Real Madrid          240000.0
      All                  580000.0
Name: Belgium, dtype: float64

In [19]:
# Для того, чтобы заменить NaN на 0, можно применить дополнительный параметр fill_value.

pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

#### B2.4.3.1 Задание 1
Создайте сводную таблицу, содержащую сведения о количестве игроков, 
занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой

In [32]:
pivot = df.pivot_table(values=['Name'], 
                       index=['Position'], 
                       columns=['Club'], 
                       aggfunc='count', 
                       fill_value=0)

mean_GK = round(pivot.loc['GK'].mean(),3) # Количество голкиперов в клубе
print(mean_GK)

2.525

#### B2.4.3.2 Задание 2

Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

In [34]:
df3 = df.pivot_table(values = 'Name',
                           index = 'Club',
                           columns = 'Position',  
                           aggfunc = 'count',
                           #margins = True, #если указать - неправильно потом посчитает среднее
                                            # т.к. добавиться строка ALL с сумой всех игроков позиции
                           fill_value = 0)
                           
cm_cnt = df3['CM'].value_counts()
cm_cnt[0]

136

#### B2.4.4.1 Задача #1

С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".

In [83]:
# 1 

pivot = df.pivot_table(values='Wage',
                       index='Nationality',
                       columns='Club', 
                       aggfunc='sum',
                       fill_value=0)

display(pivot.loc['Russia']['AS Monaco'])

61000

In [69]:
# 2

pivot = df.loc[df['Nationality'].isin(['Russia'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
# margins=True,
fill_value=0)
display(pivot.loc["Russia"][0])
display(pivot.loc["Russia"])

61000

      Club
Wage  AS Monaco              61000
      Cracovia                1000
      Dalkurd FF              1000
      FC Erzgebirge Aue       3000
      HJK Helsinki            1000
      Lokomotiv Moscow       10000
      MSV Duisburg            4000
      PFC CSKA Moscow        10000
      Pohang Steelers         1000
      Sarpsborg 08 FF         1000
      Spartak Moscow          6000
      Yokohama F. Marinos     1000
      Zagłębie Lubin          1000
Name: Russia, dtype: int64

#### B2.4.4.2 Задание 2

Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.

In [95]:
pivot = df.pivot_table(values='Acceleration',
                       index='Club',
                       columns='Position', 
                       aggfunc='max',
                       fill_value=0)

# display(pivot.head(5))
display(pivot.max().sort_values(ascending=False))

Position
LM     97
RM     96
ST     95
RW     95
LW     94
LF     94
LS     94
CAM    93
LB     93
RF     93
RS     93
RB     92
RWB    92
LWB    91
CF     91
CB     90
RDM    90
CM     89
LAM    87
RCM    87
LCM    87
RAM    86
LCB    85
RCB    83
LDM    82
CDM    82
GK     67
dtype: int64

#### B2.4.4.3 Задание 3

Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.

In [115]:
pivot = df.pivot_table(values='Acceleration',
                       index='Position',
                       columns='Club', 
                       aggfunc='mean',
                       fill_value=0)

# display(pivot.loc["ST"].head(10))
display(pivot.loc["ST"].sort_values(ascending=False).head(10))

Club
Vitória                      88.0
Manchester City              87.5
Djurgårdens IF               86.0
Vancouver Whitecaps FC       85.5
CD Lugo                      85.0
América FC (Minas Gerais)    85.0
Celtic                       85.0
FC Bayern München            84.5
Arsenal                      84.0
Leicester City               83.5
Name: ST, dtype: float64